@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

:root
{
    --fondo3:#1E1A36;
    --fondo2:#211E39;
    --fondo1:#27223E;
    --fondo:#3A306B;
    --secundario: #312D4A;
    --principal: #CB278E;
    --azul: #006BFE;
    --font: #f1e8e9 ;
    --font2:#b9b9b9 ;
    --rojo: #eb2f06;
    --verde: #78e08f;
    --delay: 0s;
}

html 
{
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    height: 100%;
}

body
{
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 15px;
	color: var(--font);
    background-color: var(--fondo);
	overflow: hidden;
    background-size: cover;
    background-position: center;
    margin: 0;
}

nav
{
    border-bottom: 2px solid var(--font);
    padding-bottom: 20px;
    margin-bottom: 40px;
}

nav h2
{
    margin: 0;
}

/* CONTAINER */

.container-right
{
    width: 25%;
}

.container
{
    width: 80%;
    margin: 5%;
    padding: 5%;
    background-color: var(--fondo1);
    border-radius: 10px;
}

.container-pagina
{
    display: flex;
    gap: 2%;
}