@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

:root
{
    --fondo3:#1E1A36;
    --fondo2:#211E39;
    --fondo1:#27223E;
    --fondo:#3A306B;
    --secundario: #312D4A;
    --principal: #CB278E;
    --azul: #006BFE;
    --font: #f1e8e9 ;
    --font2:#b9b9b9 ;
    --rojo: #eb2f06;
    --verde: #78e08f;
    --delay: 0s;
}

html 
{
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    height: 100%;
}

body
{
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 15px;
	color: var(--font);
    background-color: var(--fondo);
	overflow: hidden;
    background-size: cover;
    background-position: center;
    margin: 0;
}

nav
{
    border-bottom: 2px solid var(--font);
    padding-bottom: 20px;
    margin-bottom: 40px;
}

nav h2
{
    margin: 0;
}

/* CONTAINER */

.container
{
    width: 80%;
    margin: 5%;
    padding: 5%;
    background-color: var(--fondo1);
    border-radius: 10px;
}

.container-pagina
{
    display: flex;
    gap: 2%;
}

.container-tabla
{
    height: 57vh;
    width: 100%;
    overflow: auto;
    border-radius: 15px;
}

/* BOTONES */

.btn-eliminar, .btn-editar
{
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    margin-top: 5px;
    height: 40px;
    width: 100%;
    outline: 0;
    font-size: 20px;
    border: 2px solid var(--rojo);
    color: var(--rojo);
}

.btn-editar
{
    border: 2px solid var(--verde);
    color: var(--verde);
}

.btn-editar:hover
{
    background-color: var(--verde);
    color: white;
    transition: .3s ease;
}

.btn-editar:active
{
    transform: scale(1.05);
}

.btn-eliminar:hover
{
    background-color: var(--rojo);
    color: white;
    transition: .3s ease;
}

.btn-eliminar:active, .btn-general:active
{
    transform: scale(1.05);
}

/* TABLA */

h2 a 
{
    font-weight: 700;
    text-transform: uppercase;
    color: var(--rojo);
    text-decoration: none;
}

.blue { color: var(--principal); }
.yellow { color: #FFF842; }

.tabla th h1 
{
    font-weight: bold;
    font-size: 1em;
    text-align: left;
    color: white;
}

.tabla td 
{
    font-weight: normal;
    font-size: 1em;
    -webkit-box-shadow: 0 2px 2px -2px #0E1119;
        -moz-box-shadow: 0 2px 2px -2px #0E1119;
            box-shadow: 0 2px 2px -2px #0E1119;
}

.tabla
{
    text-align: left;
    overflow: hidden;
    width: 100%;
    display: table;
}

.tabla td, .tabla th 
{
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left:2%;  
}

/* Background-color of the odd rows */
.tabla tr:nth-child(odd), .tabla tr:nth-child(even) 
{
    background-color: var(--fondo3);
}

.tabla th 
{
      background-color: var(--secundario);
}

.tabla td:first-child { color: var(--font); }

.tabla tr:hover 
{
   background-color: #1b344b;
    -webkit-box-shadow: 0 6px 6px -6px #0E1119;
        -moz-box-shadow: 0 6px 6px -6px #0E1119;
            box-shadow: 0 6px 6px -6px #0E1119;
}

.tabla td:hover 
{
    background-color: var(--principal);
    color: var(--font);
    font-weight: bold;
    
    box-shadow: #871A5E -1px 1px, #871A5E -2px 2px, #871A5E -3px 3px, #871A5E -4px 4px, #871A5E -5px 5px, #871A5E -6px 6px;
    transform: translate3d(6px, -6px, 0);
    
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: line;
}

.td-controles
{
    padding: 2%;
    width: 90px;
}
  
@media (max-width: 800px) 
{
    .tabla td:nth-child(4),
    .tabla th:nth-child(4) { display: none; }
}